<main>
    <div class="card-board" *ngIf="card">
        <div matTooltip="Température" class="sensor">
            <div class="name temp">
                <i class="material-icons">local_fire_department</i>
            </div>
            <span class="value">{{ card.temp }}<sup> °C</sup></span>
        </div>
        <div matTooltip="Humidité" class="sensor">
            <div class="name hum">
                <i class="material-icons">water_damage</i>
            </div>
            <span class="value">{{ card.hum }}<sup> %</sup></span>
        </div>
        <div matTooltip="Humidité du sol" class="sensor">
            <div class="name sensoil">
                <i class="material-icons">grass</i>
            </div>
            <span class="value">{{ card.sensoil }}<sup> %</sup></span>
        </div>
        <div [matTooltip]="card.led ? 'éteindre la led' : 'allumer la led'" class="sensor">
            <div class="name hum">
                <div class="name led" (click)="toggleLed()">
                    <i class="material-icons" [style.color]="card.led ? ' #ffc400' : '#424242'">wb_incandescent</i>
                </div>
            </div>
        </div>
        <div matTooltip="Dernière modification" class="sensor">
            <div class="name clock">
                <i class="material-icons">query_builder</i>
            </div>
            <div class="value">
                <div class="update-time">
                    <span class="time">{{ timeToString(card.modificationDate) }}</span>
                    <span class="date">{{ dateToString(card.modificationDate) }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="charts">
        <div *ngIf="tempChart[0].series.length > 0" class="chart">
            <ngx-charts-line-chart [view]="tempChartParams.view" [scheme]="tempChartParams.colorScheme"
                [legend]="tempChartParams.legend" [legendPosition]="tempChartParams.legendPosition"
                [showXAxisLabel]="tempChartParams.showXAxisLabel" [showYAxisLabel]="tempChartParams.showYAxisLabel"
                [xAxis]="tempChartParams.xAxis" [yAxis]="tempChartParams.yAxis"
                [xAxisLabel]="tempChartParams.xAxisLabel" [yScaleMin]="tempLimit.min" [yScaleMax]="tempLimit.max"
                [yAxisLabel]="tempChartParams.yAxisLabel" [timeline]="tempChartParams.timeline" [results]="tempChart">
            </ngx-charts-line-chart>
        </div>
        <div *ngIf="humChart[0].series.length > 0" class="chart">
            <ngx-charts-line-chart [view]="humChartParams.view" [scheme]="humChartParams.colorScheme"
                [legend]="humChartParams.legend" [legendPosition]="humChartParams.legendPosition"
                [showXAxisLabel]="humChartParams.showXAxisLabel" [showYAxisLabel]="humChartParams.showYAxisLabel"
                [xAxis]="humChartParams.xAxis" [yAxis]="humChartParams.yAxis" [xAxisLabel]="humChartParams.xAxisLabel"
                [yScaleMin]="humChartParams.yScaleMin" [yScaleMax]="humChartParams.yScaleMax"
                [yAxisLabel]="humChartParams.yAxisLabel" [timeline]="humChartParams.timeline" [results]="humChart">
            </ngx-charts-line-chart>
        </div>
        <div *ngIf="sensoilChart[0].series.length > 0" class="chart">
            <ngx-charts-line-chart [view]="sensoilChartParams.view" [scheme]="sensoilChartParams.colorScheme"
                [legend]="sensoilChartParams.legend" [legendPosition]="sensoilChartParams.legendPosition"
                [showXAxisLabel]="sensoilChartParams.showXAxisLabel"
                [showYAxisLabel]="sensoilChartParams.showYAxisLabel" [xAxis]="sensoilChartParams.xAxis"
                [yAxis]="sensoilChartParams.yAxis" [xAxisLabel]="sensoilChartParams.xAxisLabel"
                [yScaleMin]="sensoilChartParams.yScaleMin" [yScaleMax]="sensoilChartParams.yScaleMax"
                [yAxisLabel]="sensoilChartParams.yAxisLabel" [timeline]="sensoilChartParams.timeline"
                [results]="sensoilChart">
            </ngx-charts-line-chart>
        </div>
    </div>
</main>