main
    width: 100%
    min-height: 100%
    //background-image: linear-gradient(to bottom, #874f2f, #874f2f, #874f2f, #874f2f, #874f2f, #824d2e, #7c4c2d, #774a2c, #6c462b, #614229, #573e29, #4d3a28)
    background-image: linear-gradient(to bottom, #218e3d, #26923b, #2c9539, #319937, #379c35, #4f9d2c, #629e23, #749e1b, #929a13, #ac961a, #c29029, #d58b3b)
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center

.card-board
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    align-items: center
    width: 71%
    min-height: 30%
    padding: 5%
    margin-top: 15px
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
    background-color: #ffffffef
    backdrop-filter: blur(5px)

    .sensor
        display: flex
        justify-content: center
        align-items: center
        height: 85px
        max-width: 15%
        min-width: 200px
        margin: 15px

        .name
            display: flex
            flex-direction: column
            justify-content: space-evenly
            align-items: center

            .material-icons
                font-size: 85px

            span
                font-size: 15px

        .temp > .material-icons
            color: #e48f1f
        .hum > .material-icons
            color: #31b4c2
        .sensoil > .material-icons
            color: #0ac600
        .led
            width: 100px
            cursor: pointer
            > .material-icons
                color: #ffc400
        .clock

            > .material-icons
                color: #606060

        .value
            display: flex
            justify-content: space-evenly
            align-items: center
            font-size: 50px
            font-weight: bold
            color: #2d2d2d
            padding-left: 10px

            sup
                font-size: 15px
                font-weight: normal
                padding-left: 5px

            .update-time
                display: flex
                flex-direction: column
                justify-content: center
                align-items: flex-start
                .date
                    font-size: 15px
                    font-weight: normal

.charts
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    height: 40%
    width: 81%

    @media screen and (max-width: 2100px)
        justify-content: center

    @media screen and (max-width: 600px)
        height: 2000px

.chart
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
    background-color: #ffffffef
    backdrop-filter: blur(5px)
    opacity: 0.9
    padding: 1% 1% 1% 1%
    min-width: 500px
    max-width: 29%
    max-height: 200px
    margin: 1% 1% 1% 1%
    overflow-y: hidden

    @media screen and (max-width: 600px)
        transform: rotate(90deg)
        padding: 8%
        max-width: 100%
