<main>
    <div class="login">
        <span>CONNEXION</span>
        <form [formGroup]="loginGroup">
            <mat-form-field class="username">
                <mat-label class="label">username</mat-label>
                <input matInput type="text" formControlName="username" />
            </mat-form-field>
            <mat-form-field class="password">
                <mat-label class="label">password</mat-label>
                <input matInput type="password" formControlName="password" />
            </mat-form-field>
            <button mat-icon-button matTooltip="login" class="done-button" type="submit" (click)="login()"
                [disabled]="loginGroup.invalid">
                <i class="material-icons">done</i>
            </button>
        </form>
        <div class="error">
            <mat-error *ngIf="loginFormError">{{ loginFormError }}</mat-error>
        </div>
    </div>
</main>