main
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    background-image: radial-gradient(circle, #d58b3b, #c29029, #ac961a, #929a13, #749e1b, #629e23, #4f9d2c, #379c35, #319937, #2c9539, #26923b, #218e3d)

.login
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    min-width: 30%
    min-height: 30%
    padding: 5%
    background-color: #ffffff
    font-weight: bold
    color: #202020
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important

form
    .mat-form-field
        margin: 5px
        .label
            color: #ffffff
    .username, .password
        max-width: 100px

    .error
        height: 20px
        > *
            margin: 0
            padding: 0

    .done-button
        cursor: pointer
        border-radius: 5px
        margin: 5px
        color: #10c100
