html, body
    width: 100%
    height: 100%
    padding: 0
    margin: 0
    font-family: 'Roboto', sans-serif
    background-color: bd800, #5a5a5a

    *
        padding: 0
        margin: 0

    a
        text-decoration: none
        color: #000000

    button[disabled]
        color: #888888a0!important
        cursor: not-allowed!important

    mat-label
        color: #ffffff

    img
        width: 30px
        height: auto

    .mat-select-value
        color: #ffffff!important
